
<div class="row">

	<div class="col-sm-2">
	</div>

	<div class="col-sm-8">
		<div class="jumbotron">
			<h1>LangConnect</h1>
			<p>Welcome to LangConnect - find your language learning partner today!</p>
			<a href=""><button class="btn btn-primary">Log In</button></a>
			<%= link_to "Sign up", signup_path, class: "btn btn-success" %>
		</div>
		
	</div>

	<div class="col-sm-2">
	</div>

</div>